@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

}



body {
    background-image: linear-gradient(to right, #F2B6A0, #A60303, #8C0303, #590202, #260101)
}

main {
    background-color: white;
    width: 700px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #554d01;
    padding: 15px;
    margin: auto;
}

h1 {
    color: rgb(167, 121, 62);
    text-align: center;
    text-shadow: 1px 1px 2px  rgb(167, 121, 62);
}

h2 {
    color: #b81212;
    text-align: left;
}

p {
    text-align: justify;
    text-align: center;

}