:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

.sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
}

.passion-one-bold {
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style: normal;
}


* {
    padding: 0;
    margin: 0px;
}

h1 {
    font-family: var(--fonte2);
}

p {
    font-family: var(--fonte1);
    color: white;
}

pre {
    font-family: var(--fonte3);
}


header {
    background-image: url(./imagens/dog-7980048_1280.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    color: rgb(14, 14, 14);
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    color: rgb(255, 213, 0);
    cursor: pointer;
    background-color: rgba(150, 147, 147, 0.584);
    padding: 2px;
}

pre {
    font-size: 3.3vw;
    line-height: 2em;
    margin: 5px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

h1 {
    font-size: clamp(10px, 10vw, 120px);
    line-height: normal;
    font-style: normal;
    font-weight: normal;
    font-variant: small-caps;
}

.imgum {
    background-image: url(./imagens/dog-7980048_1280.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.imgdois {
    background-image: url(./imagens/dog-7980048_1280.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;

}

.id1 {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.305);
    color: white;
}

.id2 {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.305);
    color: white;
}

footer {
    background-color: black;
    color: white;
    font-size: clamp(10px, 10vw, 12px);
    padding: 10px 2px 10px 10px;
    text-align: center;
}